* {
  box-sizing: border-box; }

body {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.4;
  background-color: #d8e0e5; }

.nav {
    width: 550px;
  
    text-align: center;
}

/* Navigation */

.nav {
    font-family: Georgia, Arial, sans-serif;
    font-size: 14px;
}

.nav-items {
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 25px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link,
.nav-link:link, 
.nav-link:visited, 
.nav-link:active,
.submenu-link,
.submenu-link:link, 
.submenu-link:visited, 
.submenu-link:active {
    display: block;
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.nav-link,
.nav-link:link, 
.nav-link:visited, 
.nav-link:active {
    color: #000;
    font-weight: bold;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(0,0,0,0.2);
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:hover::before {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
}

.dropdown {
    position: relative;
}

.dropdown .nav-link {
    padding-right: 15px;
    height: 17px;
    line-height: 17px;
}

.dropdown .nav-link::after {
    content: "";
    position:absolute;
    top: 6px;
    right: 0;
    border: 5px solid transparent;
    border-top-color: #fff;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100;
    width: 200px;
    margin-left: -100px;
    background: #fff;
    border-radius: 3px;
    line-height: 1.46667;
    margin-top: -5px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    opacity:0;
    -webkit-transform: translate(0, 0) scale(.85);
    transform: translate(0, 0)scale(.85);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.submenu::after, 
.submenu::before {
    content: ""; 
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    height: 0;
}

.submenu::after {
    border-bottom-color: #fff;
}

.submenu::before {
    margin-left: -13px;
    border: 13px solid transparent;
    border-bottom-color: rgba(0,0,0,.1);
    -webkit-filter:blur(1px);
    filter:blur(1px);
}

.submenu-items {
    list-style: none;
    padding: 10px 0;
}

.submenu-item {
    display: block;
    text-align: left;
}

.submenu-link,
.submenu-link:link, 
.submenu-link:visited, 
.submenu-link:active {
    color: #000;
    padding: 10px 20px;
}

.submenu-link:hover {
    text-decoration: underline;
}

.submenu-seperator {
    height: 0;
    margin: 12px 10px;
    border-top: 1px solid #eee;
}

.show-submenu .submenu {
    opacity: 1;
    -webkit-transform: translate(0, 25px) scale(1);
    transform: translate(0, 25px) scale(1);
    pointer-events: auto;
}


 

.card {
  position: relative;
  height: 65%;
  width: 45%;
  overflow: hidden;
  top: 10%;
  left: 10%;
  border-radius : 10px;

  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s; }
  .card a {
    color: inherit;
    text-decoration: none; }

.card__nav{
    position: relative;
    height: 45%;
    width: 15%;
    overflow: hidden;
    top: 10%;
    left: 10%;
    border-radius : 20px;

    margin: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s; }
    .card__nav a {
      color: inherit;
      text-decoration: none; }

.card__thumb {
  position: relative;
  height: auto;
  overflow: hidden;
  background-color: #000;
  transition: height 0.3s; }
  .card__thumb img {
    display: block;
   height: 80%;
   width: auto;
   overflow: hidden;
    object-fit: contain;
    margin:auto;
    opacity: 1;
   
    } 

.card__body {
  position: relative;
  padding: 20px;
  height: 20%;
  width: auto;
  transition: height 0.3s; }
  
.card__category {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  left: 0;
  width: auto;
  top: -25px;
  height: 25px;
  padding: 0 20px;
  color: #FFF;
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase;
  background-color: #38c4a5; }


  .card__user {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  left: 13%;
  top: -25px;
  height: auto;
  width: auto;
  padding: 0 15px;
  color: #FFF;
  font-size: 9px;
  line-height: 25px;
  text-transform: uppercase;
  background-color: #FF00a5; }

.card__title {
  margin: auto;
  height: auto;
  padding: 0 0 10px 0;
  font-size: 22px;
  color: #000;
  font-weight: bold; }

.card__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  color: #38c4a5; }

  

.card__footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 11px;
  color: #A3A9AB; }
  .card__footer .icon--comment {
    margin-left: 12px; }

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px; }

.icon--comment {
  background: url(../img/icon-comment.png);
  width: 14px;
  height: 14px;
  margin-top: -2px; }

.icon--time {
  background: url(../img/icon-time.png);
  width: 10px;
  height: 17px;
  margin-top: -3px; }
  
  .floating-menu {
    top: 20%;
    left: 72.5%;
    vertical-align: middle;
    font-family: sans-serif;
    background: yellowgreen;
    padding: 5px;

    margin: auto;
    z-index:100;
    position: fixed;
  }
  .spinner__container{
    position: absolute;
    text-align:center;
    width: 100%;
    height: 100%;
    background: #BBB;
  }
  .spinner {
        text-align:center;
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
      text-align:center;
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@-webkit-keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6); }

  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px transparent; } }

@keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6); }

  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px transparent; } }

@-webkit-keyframes subtitleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(56, 196, 165, 0.6); }

  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(56, 196, 165, 0); } }

@keyframes subtitleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(56, 196, 165, 0.6); }

  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(56, 196, 165, 0); } }
x